
  <% @recipe.components.each do |component| %>
  <% if component.valid? %>
    <li><%= component.ingredient.name + " " + component.quantity + " " + component.measurement.unit %></li>
  <% end %>
  <% end %>
