<h1>Edit</h1>

<%= render 'form' %>
<br>
<p>Ingredients: </p>
<%= render 'recipe_component' %>
<%= render 'recipe_component_form', locals: { recipe: @recipe, category: @category } %>

<%= link_to 'Back', category_recipe_path(@category, @recipe) %>
