<div class="wrapper wrapper_padding cleafix">

  <div class="col-2 home_content">
    <h2></h2>
    <hr>
    <ul>
      <% @appetizers.recipes.first(5) do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-2 home_content">
    <h2>Salad</h2>
    <hr>
    <ul>
      <% @salads.recipes.first(5) do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-2 home_content">
    <h2>Main Course</h2>
    <hr>
    <ul>
      <% @entrees.recipes.first(5) do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-2 home_content">
    <h2>Desert</h2>
    <hr>
    <ul>
      <% @desserts.recipes.first(5) do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>
  </div>

</div>
