// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-recipe-content {
  width: 35%;
  position: inline-block;
  padding: 1.85rem;
}

#directions-content {
  vertical-align: top;
  font-family: 'Raleway';
  width: 50%;
  position: inline-block;
  float: right;
  font-size: 1.0em;
  word-wrap: break-word;
  padding-bottom: 50px;
}

#prep-time, #difficulty, #single-ingredient, #recipe-directions, #poster, #author {
  font-size: 1.0em;
}

.all-recipes {
  border: 2px #E9E9E9 solid;
  padding: 5px;
  width: 100%;
}

#main-recipe-info {
  width: 35%;
  display: inline-block;

}

#directions {
  width: 50%;
  display: inline-block;

}

#directions:p {
 vertical-align: top;
  font-family: 'Raleway';
  width: 50%;
  position: inline-block;
  float: right;
  font-size: 1.0em;
  word-wrap: break-word;
  padding-bottom: 50px;
}